// Custom build settings to fix sandbox issues
RSYNC = $(SRCROOT)/rsync_wrapper.sh
ENABLE_USER_SCRIPT_SANDBOXING = NO
ENABLE_HARDENED_RUNTIME = NO
CODE_SIGN_ALLOW_ENTITLEMENTS_MODIFICATION = YES
SYSTEM_FRAMEWORK_SEARCH_PATHS = $(inherited) $(PLATFORM_DIR)/Developer/Library/Frameworks
ALWAYS_SEARCH_USER_PATHS = YES 